{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-console": "warn",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "prefer-const": "warn",
    "indent": ["warn", 2],
    "comma-dangle": ["warn", {
      "arrays": "never",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
  }]
  }
}